*.class

# Package Files #
# *.jar
# *.war
# *.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.vagrant/

target/
lib/
logs
th.log
*.log

# eclipse
.classpath
.project
.settings/

# netbeans
dist/
nb-configuration.xml
nbactions*.xml
nbactions.xml

# intelliJ
.idea/
*.iml

# macOS
.DS_Store
