
.order-table {
    width: 100%;
    border-collapse: collapse;
    padding: 5px;
}

.order-table>tbody>tr:hover {
    background: #D8D8D8;
}

.order-table-header {
    text-align: center;
    background: none repeat scroll 0 0 #D8D8D8;
    padding: 5px;
}

.order-table-row {
    text-align: left;
}

.order-table-odd-row {
    text-align: left;
    border-top: 1px solid #D8D8D8;
}
.order-table-even-row {
    text-align: left;
    border-top: 1px solid #D8D8D8;
}

.table-col-left {
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;
}

.table-col-center {
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

.table-col-right {
    padding-left: 5px;
    padding-right: 5px;
    text-align: right;
}
