
body, table td, select {
    font-family: Arial Unicode MS, Arial, sans-serif;
    font-size: small;
}

pre {
    font-family: "courier new", courier;
    font-size: small;
}

body {
    color: black;
    margin: 10px;
    border: 0px;
    padding: 5px;
    background: #fff;
    direction: ltr;
    overflow: auto;
}

a, a:visited, a:hover {
    color: #0000AA;
}

.result-pass {
    color: green;
}

.result-fail {
    color: red;
}
